/* .App {
  text-align: center;
} */

.cart-wrapper{
  margin-left: 17px;
  height: 100px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.336);
  padding: 20px;
}
.img-wrapper img{
  width: 60px;
  margin-top: -10px;
}
.text-wrapper span{
  font-family:'poppins';
  font-size: 18px;
  
}
.btn-wrapper button{
  margin-top: 7px;
  padding: 7px ;
  background-color: rgb(221, 20, 60);
  color: white;
  border-radius: 10px;
  font-family: 'poppins';
  font-size: 15px;
  box-shadow: #333 0px 1px 5px ;
  cursor: pointer;
}
.btn-wrapper button:hover{
  background-color: rgb(221, 20, 60,0.8)
  
}
.item{
  float: left;
  display: inline-block;
  width: 100px;
}
.add-to-cart img{
  width: 40px;
  position: absolute;
  right: 1%;
  top: 1%;
  margin-top: 12px;
  margin-right: 15px;

}